<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Controle Financeiro</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="resume">
        <div>
          Receita Mensal: R$
          <span class="incomes">{{entrada}}</span>
        </div>
        <div>
          Despesa Mensal: R$
          <span class="incomes">{{saida}}</span>
        </div>
        <div>
          Saldo Total: R$
          <span class="incomes">{{saldo}}</span>
        </div>
      </div>
      <form class="newItem" method="post">
        <div class="Div_desc">
          <label for="desc">Descrição:</label>
          <input name="desc" type="text" id="desc" required />
        </div>
        <div class="divAmount">
          <label for="amount">Valor:</label>
          <input name="valor" type="number" id="amount" step="0.01" required />
        </div>
        <div class="divType">
          <label for="type">Tipo:</label>
          <select id="type" name="Tipo" required>
            <option value="entrada">Entrada</option>
            <option value="saida">Saída</option>
          </select>
        </div>
        <button type="submit" id="btnNew">Incluir</button>
      </form>
      <h2>Transações:</h2>
      <div class="divTable">
      <table>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Tipo</th>
        </tr>
        {% for transacao in transacoes %}
        <tr>
          <td>{{ transacao.descricao }}</td>
          <td class="columnAmount" >R$ {{ transacao.valor }}</td>
          <td class="columnType">{{ transacao.tipo }}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
